body{
  width: 340px;
}
.card{
  border: 1px;
  border-style: solid;
  border-width: thin;
  margin: 2px;
  padding: 5px;
  display: inline-block;
  box-shadow: 10px 10px 5px #e4e4e4;
}

.header{
  font-style: italic;
}

.description{
  border: 1px;
  border-style: solid;
  border-width: thin;
  margin: 2px;
  padding: 5px;
}

.list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.dog-image{
  margin: 2px;
  width: 300px;
  height: 200px;
  padding-bottom: 5px;
}

.traits{
  font-weight: bold;
}
